.about-container{
    height: 100vh;
    background-color: rgb(255, 254, 254);
    display: flex;
}
.about__container-1{
    display: flex;
    
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 80px;
    
}


.card-container{
    padding: 200px;
    margin-top: -150px;

}

.card{
    display: block;
  width: 350px;;
  height: 275px;
  padding: 45px 0;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow:  1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  
}

.about__container-2{
    display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.heading{
    display: flex;
    flex-direction: column;
    font-size: 50px;
    padding: 20px;
    justify-content: right;
    font-weight: bolder;
    color: rgb(241, 84, 11);
  
}
.about-des{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    padding: 12px;
    

}