.event-container {
  height: 120vh;
  display: flex;
  flex-direction: column;
}
.event-heading {
  font-size: 50px;
  padding: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: black;
}

.event-card-container {
  padding: 10px;
}

hr {
  position: relative;
  top: 5px;
  border: none;
  height: 5px;
  width: 70%;
  justify-content: center;
  background: black;
  margin-bottom: 10px;
}

.card{
  width: 18rem;
}
