* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    /* border-bottom: 2px solid whitesmoke; */
}

.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    padding: 0vw 6vw;
}
.App-logo {
    height: 10vh;
    padding-top: 0.5rem;
    pointer-events: none;
}
  



.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    align-items: center;
    margin: 0vw 4vw;
}

.nav-links li {
    list-style: none;
}

.nav-links li:hover {
    border-bottom: 2px solid whitesmoke;
}

/* .nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing : 3px;
    font-weight : bold;
    font-size: 14px
} */


.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1000px) {
    .nav-links{
        width: 40%;
    }
}


@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition:  transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 1;
    }
    .burger {
        display: block;
    }

    /* after LAWLESS changed padding and vw */
    nav {
        justify-content: space-around;
    }
    .logo {
        padding: auto;
    }
    .nav-links {
        margin: auto; 
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}