@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Quicksand:300,400,500,700");

@mixin object($w, $h, $bg) {
  width: $w;
  height: $h;
  background: $bg;
}

@mixin flex_center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

// * {
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
// }

// body {
//   @include flex_center();
//   position: absolute;
//   @include object(100%, 100%, #eee);
//   top: 0;
//   left: 0;
//   padding: 40px;
//   font-family: "Open Sans", sans-serif;
// }

.event_container {
  display: flex;
  @include object(100%, 230px, #fff);
  max-width: 750px;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25), 0 8px 8px 0 rgba(0, 0, 0, 0.15);
  margin: 20px auto;
  .event_bg {
    @include object(40%, 100%, #333);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .event_info {
    @include object(60%, 100%, null);
    padding: 10px 20px;
    .event_title {
      display: flex;
      @include object(100%, 50px, null);
      align-items: center;
      h4 {
        font-size: 26px;
        font-family: "Quicksand", sans-serif;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .event_desc {
      display: flex;
      @include object(100%, calc(100% - 100px), null);

      p {
        font-size: 16px;
        font-weight: 500;
        color: #565861;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .event_footer {
      display: flex;
      @include object(100%, 50px, null);
      align-items: center;
      justify-content: space-between;
      .event_date p {
        font-size: 15px;
        font-weight: 600;
        color: #333;
      }
      .event_more {
        display: flex;
        @include object(auto, 100%, null);
        align-items: center;

        a.btn_more {
          display: flex;
          @include object(auto, 40px, null);
          align-items: center;
          padding: 0 15px;
          text-decoration: none;
          color: #5f5ffc;
          font-size: 16px;
          font-weight: 600;
          border-radius: 2px;
          will-change: background;
          transition: background 0.3s, color 0.2s ease-in;
          i.material-icons {
            font-size: 18px;
            font-weight: 500;
            padding: 0 2px;
          }
          &:hover {
            background: #5f5ffc;
            color: #fff;
          }
        }
      }
    }
  }
}

// mobile screen
@media screen and (max-width: 575px) {
  .event_container {
    @include object(100%, 480px, #fff);
    flex-direction: column;
    .event_bg {
      @include object(100%, 250px, null);
      min-height: 250px;
      border-top-right-radius: 3px;
      border-bottom-left-radius: 0;
    }
    .event_info {
      @include object(100%, 230px, null);
    }
  }
}
