.about {
    background-color: #17171D;
    height: 100vh;
    color: rgb(255, 255, 255);

    &-div {
        height: 100px;
    }


    &-con {
        &-row {
            margin-top: 10px;
        }
        &-cards {
            margin-right: 20px;
            background: white;
            color: black;
            height: 100px;
        }
    }
}
.card_img{
    height: 600px;
    width: 1080px;

}


