.home {
  height: 100vh;
  background-image: url("https://hackclub.com/bank/bg.jpg");
  background-size: cover;
//   background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  &-container {
    padding: 70px 40px 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        margin-top: 100px;
      max-width: 1000px;
      font-size: 96px;
      text-align: center;
      line-height: 108px;
    }
    p {
      text-align: center;
      font-size: 27px;
      line-height: 37px;
      font-weight: 400;
      max-width: 750px;
      margin-top: 20px;
    }
    button {
      margin-top: 15px;
      padding: 16px 22px;
      border: 2px solid rgb(228, 45, 66);
      color: rgb(228, 45, 66);
      background: transparent;
      border-radius: 9999px;
      font-size: 18px;
      &:hover,&:active 
      {
          border: 2px solid rgb(228, 45, 66);
          color: rgb(228, 45, 66);
          background: none;
          box-shadow: none;
      }
    }

    &-arrow {
      display: block;
      position: relative;
      z-index: 500;
      height: 32px;
      width: 32px;
      margin: 0px auto;
      box-sizing: border-box;
      border-bottom: 2px solid rgb(255, 255, 255);
      border-right: 2px solid rgb(255, 255, 255);
      transform: rotate(45deg);
      opacity: 0.6;
      cursor: pointer;
      transition: transform 0.3s ease 0s;
      margin-top: 30px;
      cursor: pointer;
      pointer-events: all;
    }
  }
}
