body, ul, h1, h2, h3, p, button, a, div{
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Oswald';
  font-weight: 300;
  letter-spacing: 5px;
  list-style-type: none;
  text-decoration: none;
}

button {
  background-color: #FF7008;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  font-weight: 400;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 5rem 0rem;

}

.frontLogo {
  height: 50vh;
  margin-top: 2rem;
}

.makers {
  letter-spacing: 15px;
  font-size: 5rem;
  margin-top: 1rem;
}

.falsecard {
  display: flex;
  flex-direction: column;
  /* background-color: turquoise; */
  width: 60%;
}

.falsecard p{
  width: 90%;
  padding-top: 1rem;
  font-family: 'Roboto';
  line-height: 1.5rem;
  /* background-color: violet; */
}

.line {
  height: 10%;
  z-index: -2;
}

@media screen and (max-width: 768px) {
  .makers {
    font-size: 1.5rem;
  }
  .falsecard {
    width: 90%;
    text-align: center;
    /* background-color: violet; */
  }
  .falsecard p{
    width: 100%;
    padding-top: 1rem;
    line-height: 1.5rem;
    /* background-color: turquoise; */
  }
}

.gallery {
  background-color: whitesmoke;
}

.whitecard{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem 5rem;
  margin-top: 10rem;
  /* background-color: firebrick; */
}

.whitecard h1{
  color: black;
}
.whitecard p{
  padding-top: 1rem;
  font-family: 'Roboto';
  line-height: 1.5rem;
  color: dimgray;
}
.whitecard img{
  margin: 5rem auto;
  width: 100vh;
}

@media screen and (max-width: 768px) {

  .whitecard {
    align-items: center;
  }

  .whitecard p{
    text-align: center;
  }

  .whitecard img{
    margin: 2rem 1rem;
    width: 50vh;
  }

}


.bot {
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 20vh;
  align-items: center;
  border-top: 2px solid rgba(255, 255, 255, 0.726);
}
.bot-write {
  display: flex;
  flex-direction: column;
  margin: 0rem 5vw;
}
.bot-write h1{
  padding: 1rem 0 0.5rem 0;
  border-bottom: 1px solid whitesmoke;
  /* border-style: outset;
  border-width: 5px; */
  margin-bottom: 0.5rem;
  font-size: 2rem;
  
}
.bot-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 80vh;
  justify-content: space-between;
}
.bot-content li{
  margin: 0.5rem 0;
  cursor: pointer;
}
.bot-content a {
  font-family: 'Roboto';
  font-size: small;
}

.bot .App-logo {
  height: 10vh;
  padding-top: 0.5rem;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .bot-content {
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: auto;
  }
  .bot-write h1{
    text-align: center;
  }
  .bot .App-logo {
    height: 17vh;
    padding-top: 0.5rem;
  }
  .bot {
    height: auto;
    justify-content: center;
  }
}

.events {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.e-list {
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  padding: 0 5rem;
  justify-content: space-around;

}
.e-items {
  font-size: 5rem;
  color: dimgray;
  cursor: pointer;
  font-family: 'Oswald';
  font-weight: 400;
}
.e-items:hover{
  color: whitesmoke;
  /* text-transform: uppercase; */
}

.break{
  width: 100vw;
  height: 2px;
  background-color: whitesmoke;
}

@media screen and (max-width: 768px) {

  .events{
    align-items: center;
  }
  .e-items{
    font-size: 2rem;
  }
  .e-list{
    text-align: center;
  }
}

.about {
  display: flex;
  flex-direction: column;
}

.new-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2rem auto;
  padding: 1rem 5rem;
  align-items: flex-start;
}

.new-card h1{
  margin: 1.5rem 0;
  font-size: 4rem;
}

.ncard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2rem;
  /* flex-wrap: wrap; */
  /* background-color: violet; */
}
.ncard p{
  margin-right: 3rem;
  font-family: 'Roboto';
  line-height: 2rem;
  /* background-color: wheat; */
}

.ncard img{
  height: 50vh;
}

.alternate {
  background-color: whitesmoke;
}

.alternate h1{
  color: black;
}
.alternate p{
  color: dimgray;
}

@media screen and (max-width: 768px) {
  .new-card h1{
    font-size: 1.5rem;
    flex-wrap: wrap;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .ncard img{
    height: 35vh;
    margin-top: 1rem;
  }
  .new-card{
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
  }
  .ncard{
    flex-direction: column;
    text-align: center;
  }
  .ncard p{
    /* margin-right: auto; */
    margin: 1rem;
  }
}

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}

.modal{
  max-width: 400px;
  margin: 0 auto;
  padding: 40px 20px;
  background: white;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.modal button{
  color: whitesmoke;
  font-weight: bold;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.781);
  border-radius: 5px;
  border: 2px solid #444;
  font-family: 'Roboto';
  letter-spacing: 2px;
  font-weight: 200;
}

.modal button:hover {
  color: rgba(0, 0, 0, 0.781);
  background-color: whitesmoke;
}

.modal p{
  color: black;
  font-weight: 400;
  font-size: large;
}

.cross-section{
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  background-color: #FF7008;
  border-radius: 25px;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .modal{
    max-width: 300px;
  }
}


.cline-1{
  width: 25px;
  height: 3px;
  background-color: whitesmoke;
  transform: rotate(-45deg);
  position: absolute;
}
.cline-2{
  width: 25px;
  height: 3px;
  background-color: whitesmoke;
  position: absolute;
  transform: rotate(45deg);
}
.anti {
  transform: rotate(45deg);
}

.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid whitesmoke;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transform-origin: 100% 100%;
  z-index: 99;
  backdrop-filter: grayscale();
}
/* 
@media only screen and (min-width: 700px){
  .cursor {
    width: 3rem;
    height: 3rem;
    border: 2px solid whitesmoke;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transform-origin: 100% 100%;
    z-index: 99;
    backdrop-filter: grayscale();
  }
} */

@media screen and (max-width: 768px) {
  body, ul, h1, h2, h3, p, button, a, div{
    cursor: auto;
  }
  .cursor {
    display: none;
  }
}

.link-grow {
  transform: scale(2);
  background: dimgray;
  z-index: -1;
}

.white-border {
  border: 2px solid dimgray;
  /* z-index: 99; */
}

