.img {
    display:block;
    transition:transform 0.25s ease;
}

.img:hover {
    -webkit-transform:scale(1.5); /* or some other value */
    transform:scale(1.5);
}

.h1{
    font-size: 50px;
    padding: 20px;
    font-weight: bolder;
    color: black;
}

.hr {
    position: relative;
    top: 5px;
    border: none;
    height: 5px;
    width: 70%;
    justify-content: center;
    background: black;
    margin-bottom: 10px;
  }

  .eventContainer {
    height: 120vh;
    display: flex;
    flex-direction: column;
  }
  
  .card{
    width: 18rem;
  }

  .sticky {
    position: sticky;
    top: 0;
    z-index: 100; /* this is not working for sticky nav */
  } 

  .left{
    color: rgb(184, 12, 184);
}
 

 .right{
    width : 450px;
}










.landing {
  height: 100vh;
  position: relative;

  /*background-color: rgb(255, 255, 255);*/
}
.landing__container {
  display: flex;
  flex-direction: row;

  z-index: 5;
  grid-column: 1/2;
}
.landing__sub-2 {
    align-self: right;
    align-content: center;
    align-items: flex-start;
}
.landing__sub-1 {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-self: flex-start;
  justify-content: center;
  margin-top: 120px;
  padding: 100px 0;
  margin-left: 50px;
  /* border: 3px solid black;*/
}
.landing__heading {
  font-size: 50px;
  color: black;
}

.landing__sub_heading {
  color: black;
}

.landing_logo {
  height: 250px;
  float: right;
  flex-grow: inherit;
  margin-right: -70%;
  margin-top: 20%;
}
