/* @import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,700;0,900;1,400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,300;0,400;1,400&display=swap');
* {
  padding: 0;
  margin: 0;
  /* font-family: 'Alegreya SC', serif; */
  font-family: 'Josefin Slab', serif;
}

html {
  box-sizing: border-box;
}

.section__margin {
  margin: 20px 50px;
}

.section__heading {
  font-size: 50px;
  font-weight: 100;
}
