* {
  box-sizing: border-box;
  
}
.container{
  margin-top:5%;
  padding: 15px;
}
.sponser-heading{
  font-size: 75px;
  padding: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: rgb(241, 84, 11);

}
.row{
  display: flex;
  flex-direction: row;
  margin: 60px;
  background: linear-gradient(90deg, hsla(26, 96%, 69%, 1) 0%, hsla(41, 97%, 64%, 1) 50%, hsla(343, 78%, 65%, 1) 98%);
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  

}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.column {
  
  float: left;
  width: 100%;
  padding: 20px;
  margin-left: 13%;
}

.column img {
  filter: grayscale(100%);
}


.column img:hover {
  filter: grayscale(0%);
}


