.sponser-card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 95vh;
    

}
.s-card{
    padding: 15px;
    text-align: center;
    align-self: center;
    display: block;
    width: 425px;
    height: 350px;
    border-radius: 15px;
    box-shadow: 12px 25px 35px 8px rgba(0,0.4,0.4,0.5);
}
.Sponsring-heading{
    font-size: 35px;
    font-weight: bolder;
  color: rgb(241, 84, 11);

}
.sponser-des1{
    font-size: 35px;
    font-weight: bolder;
    margin: 70px;
    padding: 5px;
    border:3px solid rgb(255, 96, 34);
    border-radius: 15px;
  color: rgb(241, 84, 11);
}

.sponser-des2{
    font-size: 25px;
    color:white;
    padding: 5px;
    font-weight: bolder;
    margin: 50px;
    border:2px solid rgb(255, 96, 34);
    border-radius: 15px;
    background: linear-gradient(135deg, hsla(41, 97%, 64%, 1) 0%, hsla(26, 96%, 69%, 1) 40%, hsla(343, 78%, 65%, 1) 98%);
}